#root {
  margin: 0 auto;
  /* text-align: center; */
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
}

html,
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  min-height: 100vh;
}

.registerForm {
  width: 80%;
  margin: 0 auto;
}

.form-group {
  padding: 10px 0;
}

#registerForm {
  justify-content: end;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-padding {
  padding-top: 30px;
  text-align: center;
}

#section-note {
  font-size: 0.7em;
  color: #bf191b;
  font-style: italic;
}

#add-to-cart a:hover {
color: #ffbf00;
}
